body{
    display: flex;
    height:100vh;
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
    padding:0 10px;
    background-color: rgb(222, 246, 245);
        /* --twitter-color: #50b7f5; */
        --twitter-color: #04aa6d;
    --twitter-background:#80eed1;
    /* background-image: url('https://source.unsplash.com/random'); */
}


*{
    margin: 0;
    padding:0;
    box-sizing:border- box;
}

/* body{

} */

.sidebarOption{
    display:flex;
    align-items: center;
    cursor:pointer;   
    text-align: center;
    /* margin: 20px; */
    padding: 12px;
}

 

.sidebarOption h2{
    font-weight:800;
    font-size:20px;
    margin-right:20px;
}

.sideOption:hover{
    background-color:var(--twitter-background);
    border-radius:30px;
    color:var(--twitter-color);
    transition:color 100ms ease-out;

}

.sidebarOption.active{
    color:var(--twitter-color);
}

.sidebar_tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border:none;
    color:white;
    font-weight:900;
    font-size: 16px;
    border-radius:30px;
    height:50px;
    margin-top:20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.sidebar{
    border-right:  1px  solid var(--twitter-background);
    flex:0.2;
    min-width:250px;
    margin-top:20px;
    padding-left:20px;
    padding-right:20px;
}


    /*feed*/
    .feed{
        flex:0.5;
        border-right:1px solid var(--twitter-background);
        min-width:fit-content;
        overflow:scroll;
        scrollbar-width: 0px;
}
.feed_header{
    position:sticky;
    top:0;
    background-color:white;
    z-index:100;
    border :1px solid var(--twitter-background);
    padding:15px 20px;
}

.feed_header h2{
   font-size:20px;
   font-weight:800;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.feed::webkit-scrollbar {
   display:none;
   }
   .feed{
       -ms-overflow-style:none;
       scrollbar-width: none;
   }


       /*post*/
.post_avatar img{
    border-radius:40px;
    /* padding: 12px; */
    height: 46px;
    width: 45px;
    }
.post {
        display:block;
        align-items:flex-start ;
        border-bottom:1px solid var(--twitter-background);
        /* padding-bottom: 10px; */
    }
    .post_body-img{
        width:450px;
        object-fit:contain;
        border-radius: 20px;
    }
    .post_footer{
        display:flex;
        justify-content: space-between;
        margin-top:10px;
    }
    .post_badge{
        font-size: 14px !important;
        color:var(--twitter-color);
        margin-right:5px;
    }
    .post_headerspecial{
        font-weight:600;
        font-size:12px;
        color:gray;
    }
.post_headertext h3{
 font-size:15px;
 margin-bottom:5px;

}
.post_headerDescription{
    margin-bottom:10px;
    font-size:15px;
}
.post_body{
    flex:1;
    padding:10px;
}
.post__avatar {
    padding :220px;
}

.material-icons a{
    text-decoration: none;
    color: black;
}



.k1{
    border-radius: 8px;
    height: 466px;
    /* width: auto; */
}
.k2{
    height: 20px;
    display: inline-flex;
}
.k3{
    display: inline-flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.k3 a{
    display: inline-flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
}
.k3 a:hover{
    color:var(--twitter-color);
}
#content2{
    display: block;
}

.part3{
    bottom: 0;
    margin-top: 32px;
    margin-bottom: 0px;
    width: 98%;
    display: inline;
}
#part3id{
    width: 98%;
    border-radius: 5px;
    height: 22px;
}
#part3id2{
    border-radius: 5px;
    margin: 1px;
    margin-top: 2px;
    /* margin-left: 90.5%; */
    cursor: pointer;
    background-color:var(--twitter-color);
    color: #fff;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}



/* POST PAGE */

.aa1{
    border: #fff solid 1px;
    border-radius: 7px;
    margin:16px;
    padding: 4px;

    
}
.aa2 img{
    height: 36px;
    width:36px;
    display: flex;

}
.aa2{
    display: flex;
    padding:  6px;
    padding-bottom: 0px;
}
#newpostba1{
    background-color: #000;
    width: 300%;
    border-radius: 7px;
    height: 243px;
    padding: 2px;
    color: #fff;
    /* word-break: break-all; */
    word-wrap: break-word;
    /* word-wrap: inherit; */
}
#newpostba1 input::placeholder{
    text-align: center;
}
#newbtnba2{
    background-color:var(--twitter-color);
    border-radius: 30px;
    font-weight: bolder;
    /* float: right; */
    padding: 1px;
    width: 83px;
    height: 36px;
    font-size: 18px;
    cursor: pointer;
    color: gray;
}
/* POST PAGE */




